@import url("https://fonts.googleapis.com/css2?family=Black+Han+Sans&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

body {
  background-color: rgb(233, 231, 231);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

/* //  위에 까지는 가장 기본 설정 */

header {
  background-color: rgb(19, 19, 116);
}

header h1 {
  color: whitesmoke;
  text-align: center;
  padding: 20px 0;
  /* font-family: "Noto Sans", serif; */
}

form {
  display: flex;
  /* flex-direction: column; */
  column-gap: 10px;
  padding: 30px;
  max-width: 400px;
  margin: 0 auto;
  align-items: end;
}

form div {
  display: flex;
  flex-direction: column;
  row-gap: 5px;
  flex: 1;
}

form label {
  font-size: 12px;
  color: gray;
}

form input {
  border-radius: 4px;
  border: 1px solid lightgray;
  height: 50px;
  padding: 0 10px;
  outline: none;
}

form input:focus {
  border-color: cornflowerblue;
  border-width: 2px;
}

form button {
  background-color: royalblue;
  color: white;
  border: none;
  padding: 0 20px;
  border-radius: 4px;
  cursor: pointer;
  height: 50px;
}

form button:hover,
ul button:hover {
  opacity: 0.8;
}

form button:active,
ul button:active {
  opacity: 0.5;
  transform: scale(0.95);
}

ul {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  padding: 0 30px;
  margin: 0 auto;
  max-width: 400px;
}

ul div {
  display: flex;
  padding: 10px;
  background-color: white;
  border-radius: 4px;
  justify-content: space-between;
  column-gap: 10px;
  align-items: center;
}

ul div:hover {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

ul p {
  flex: 1;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

ul button {
  border: none;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
}
